{% extends "core/base.html" %}
{% block title %}Cart{% endblock %}
{% block content %}



        <div class=" max-w-6xl mx-auto flex flex-wrap items-start py-6 px-6 xl:px-0 bg-gray-800" >
          <div class=" products w-full lg:w-3/5">
            
            {% for item in cart %}
            {% include 'cart/partials/cart_item.html' %}
            {% endfor %}
      
        </div>

            <div class="mx-auto summary sm:w-full md:w-2/5 lg:w-2/5 xl:w-2/5 p-8 bg-gray-100 rounded-xl p-6 mt-3">
                <h2 class= "uppercase text-lg mb-3">summary</h2>
                {% comment %} {%for item in cart %}
               
                <div class="flex justify-between mb-1">
                    
                    <p class="mb-1 "><span class="pr-2">{{item.quantity}}</span> {{ item.product.name }}</p>
                    <span class="mb-2 pt-1 "
                    
                    >${{ item.total_price }}</span>
                </div>
                <hr class="pb-1">
                
                    {% endfor %} {% endcomment %}
                   
                <div class=" mx-auto mb-2 mt-2 flex justify-between">
                    <span class="font-semibold">Subtotal</span>
                    <span 
                        hx-get="{% url 'hx_cart_total' %}"
                        hx-trigger="update-menu-cart from:body"
                        hx-swap="innerHTML"
                        >
                        {% include 'cart/partials/cart_total.html' %}
                    </span>
                    
                   
                </div>
               
                <a href="{% if user.is_authenticated%}{% url 'checkout' %}{%else%}{% url 'login' %}{% endif%}" class="inline-block mt-1 px-6 py-2 rounded-xl bg-pink-700 hover:bg-pink-800 text-white">Checkout</a>
                
                <a href="{% url 'shop' %}" class="inline-block mt-1 px-6 py-2 rounded-xl bg-pink-700 hover:bg-pink-800 text-white">Continue shopping</a>
            </div>
        </div> 
      

        
  
{% endblock content %}