{% extends "core/base.html" %}
{% block title %}Success{% endblock %}
{% block content %}

<div class="mt-8 mb-8  text-center py-6 px-6  bg-gray-100" >
    
    <div class="products w-full items-center rounded-xl ">
        <h1 class="text-pink-800 mb-5 text-3xl">Success</h1>
        <p class="text-black"> Thanks for shopping with razpi {{ request.user.username }}! Your order has been successfully placed. </p>
        <p> Your order Number is: {% for order in request.user.orders.all %}
            {% if forloop.counter < 2 %}
            <div class="">
                <div class="text-blue-700">
                    <a href="{% url 'myaccount' %}">Order id: {{order.id }}</a></p>
                    {%endif%}
                    {% endfor %}
                    </div>
                    </div>
    </div>
 </div>
{% endblock %}