<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="icon" href="{% static 'images/razpi_icon.ico' %}" type="image/png" alt="Images">
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %} | RazPi </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://kit.fontawesome.com/f99e479477.js" crossorigin="anonymous"></script>
        
    </head>
    <body>
        <nav class="border=white-300">
            
        <div class="max-w-7xl mx-auto  px-6 xl:px-0 flex items-center justify-between">
            <a href="{% url 'home' %}"class="py-4 text-3xl text-pink-700 font-semibold"><i class="fa-brands fa-raspberry-pi text-green-700"></i> RazPi</a>
        </div>
        </nav> 
      <nav class= "border=grey-300 bg-stone-100">
        <div class="max-w-7xl mx-auto  flex-wrap  px-4 xl:px-0 flex items-center justify-between">
            <div class="menu-left flex items-center space-x-6">
                {% comment %} <a href="#" class="py-2 text-lg text-pink-700 font-semibold">RazPi</a> {% endcomment %}
                <ul class="flex items-center space-x-1">
                <li class="text-pink-700 hover:bg-pink-700  hover:text-white px-3 py-3"><a href="{% url 'shop' %}">Shop</a></li>
                <li class="hover:bg-stone-700  hover:text-white px-3 py-3"><a href="{% url 'about' %}">About</a></li>
                </ul>
            </div>
            <div class="menu-right flex items-center space-x-4 ">
               <ul class="flex">
                {% if request.user.is_authenticated %}
                <li class="hover:bg-stone-700  hover:text-white px-3 py-3"><a href="{% url 'logout' %}">Logout</a></li>
                {%else %}
                <li class="hover:bg-stone-700  hover:text-white px-3 py-3"><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
                </ul> 
                <a class ="hover:text-pink-800"href="{%if user.is_authenticated%}{% url 'myaccount' %}{%else%}{% url 'login' %}{% endif%}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                      </svg>
                </a>

             {% include 'cart/menu_cart.html' %}
            </div>
        
        </div>
      </nav>
      <main>
        {% block content%}
      {% comment %} <main>
         <header class = "text-center g:py-20: bg-stone-200">
            <div class="max-width-3xl mx-auto flex  ">
                <div>
                <img class="img-responsive m-auto object-cover flex "
                src="https://assets.raspberrypi.com/static/default-opengraph-f1d3121abeef861889c52dd4a2813df9.png"> 
                </div> 
                <div class="py-5 px-5 text-center ">
                <p class="mb-2 p-1 text-2xl lg:text-4xl text-zinc-500 inline-block">Welcome to <p class ="text-2xl p-1 lg:text-4xl text-pink-700 inline-block"> RazPi</p> </p>
                <p class="mb-10 px-4 text-2lg lg:text-1xl  text-zinc-800 ">From industries large and small, to the kitchen table tinkerer, to the classroom coder, we make computing accessible and affordable for everybody.</p>
                <a href="#" class=" inline-block mb-2 bg-blue-500   hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"> Buy Raspberry Pi</a>
                   
                  
            </div>
            </div>
        </header>  
      </main> {% endcomment %}
        
       {% endblock  %}
      </main>
        <footer class = "bg-gray-100 mt-auto mb-0">
        <div class="max-w-6xl mx-auto py-10 px-6 xl:px-0 lg:flex justify-between">
            <div class= "footer-left mb-12 md:mb-0">
                <h2 class="mb-3  text-lg">About us</h2>
                <p class="text-pink-800 text-left max-w-lg">Raspberry Pi removes the high entry cost to computing for 
                    people across all demographics: while children can benefit from a computing education that previously wasn’t 
                    open to them, many adults have also historically been priced out of using computers 
                    for enterprise, entertainment and creativity. Raspberry Pi eliminates those barriers.</p>
            </div>
            {% comment %} <div class="text-center">
                <p class="text-blue-700 text-center">Built By August ©2022</p>
            </div> {% endcomment %}
            <div class="footer-center mb-3 md:mb-0">
                <h2 class="mb-3 text-lg">Raspberry Pi Official</h2>
            <ul class="space-y-2">
                <li class="text-pink-800 hover:text-green-800"><a href="https://www.raspberrypi.com/documentation/">Documentation</a></li>
                <li class="text-pink-800 hover:text-green-800 "><a href="https://www.raspberrypi.com/news/">News</a></li>
                <li class="text-pink-800 hover:text-green-800 "><a href="https://www.raspberrypi.org/">Foundation</a></li>
                <li class="text-pink-800 hover:text-green-800 "><a href="https://forums.raspberrypi.com/">Forums</a></li>
            </ul>
            </div>
            <div class="footer-right mb-12 md:mb-0">
                <h2 class="mb-3 text-lg">Account</h2>
                <ul class="space-y-2">
                    <li><a href="{% url 'signup' %}" class="text-pink-800 hover:text-green-800"></i> Sign up</a></li>
                    <li><a href="#" class="text-pink-800 hover:text-green-800"></i> Login</a></li>
                    <li><a href="#" class="text-pink-800 hover:text-green-800"></i> Logout</a></li>
                </ul>
            </div>
            <div class="footer-right mb-12 md:mb-0">
                <h2 class="mb-3 text-lg">Social links</h2>
                <ul class="space-y-2">
                    <li><a href="#" class="text-pink-800 hover:text-green-800"><i class="fa-brands fa-twitter"></i> Twitter</a></li>
                    <li><a href="#" class="text-pink-800 hover:text-green-800"><i class="fa-brands fa-linkedin"></i> LinkedIn</a></li>
                    <li><a href="#" class="text-pink-800 hover:text-green-800"><i class="fa-brands fa-github"></i> GitHub</a></li>
                </ul>
            </div>
           
        
    </footer>

        <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    </body>
</html>

{% comment %} <ul class="flex">
    <li class="hover:bg-stone-700  hover:text-white px-3 py-3"><a href="https://www.raspberrypi.com/documentation/">Documentation</a></li>
    <li class="hover:bg-stone-700  hover:text-white px-3 py-3"><a href="https://www.raspberrypi.com/news/">News</a></li>
    <li class="hover:bg-stone-700  hover:text-white px-3 py-3"><a href="https://www.raspberrypi.org/">Foundation</a></li>
    <li class="hover:bg-stone-700  hover:text-white px-3 py-3"><a href="https://forums.raspberrypi.com/">Forums</a></li>
</ul> {% endcomment %}