<!DOCTYPE html>
{% extends "core/base.html" %}

{% block content %}

     <header class = " xl:pt-10 lg:pt-10 md:pt-10 md:pt-10 sm:pt-0 mx-auto  max-w-10xl h-50% xl:px-0 bg bg-stone-200">
            <div class="mx-auto flex-row-reverse sm:flex md:flex  lg:flex max-w-6xl  xl:px-0 " >

                <div class="py-5 px-12  mx-auto xl:w-1/2 lg:w-1/2 md:w-1/2 sm:w-full md:text-right lg:text-right xl:text-right sm:text-center text-center ">
                    <p class="mb-2 p-1 text-3xl lg:text-5xl text-zinc-500 inline-block  ">Welcome to <p class ="text-2xl p-1 lg:text-5xl text-pink-700 inline-block"> RazPi</p></p>
                   
                    <p class="mb-6 px-0 text-2lg lg:text-1xl  text-zinc-900 " style="font-family:helvetica;">From industries large and small, to the kitchen table tinkerer, to the classroom coder, RaspberryPi makes computing accessible and affordable for everybody.</p>
                    
                    <a href="{% url 'shop' %}" class=" inline-block mb-2 bg-blue-800  hover:bg-blue-900 text-white font-bold py-3 px-5 rounded-full"> Buy RaspberryPi</a>
                </div>
 
                <div class="mx-auto  xl:w-1/2 lg:w-1/2 md:w-full sm:w-full" >
                    <img class="  img-responsive mx-auto object-cover"
                    src="https://assets.raspberrypi.com/static/default-opengraph-f1d3121abeef861889c52dd4a2813df9.png"> 
                </div>  
                
               
            </div>
            
        </header> 
        <section class="products bg-gray-700">
        <div class=" max-w-6xl mx-auto px-6 xl:px-0 bg-gray-800" >
            <div class=" products flex items-center flex-wrap">
                {% for product in products%}
                
                {% include 'product/partials/product_list_item.html' %}
                {% endfor %}


            </div>

        </div>
    </section>
{% endblock content %}