<!DOCTYPE html>
{% extends "core/base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}

     <header class = "mx-auto max-w-full xl:px-0 bg-stone-200">

            <div class="flex-row-reverse sm:flex md:flex lg:flex xl:flex max-w-full mx-auto ">
                <div class="m-auto mx-auto xl:w-1/2 lg:w-1/2 md:w-full sm:w-full text-center md:text-right lg:text-right xl:text-right" style="">
                    <div class="max-w-xl  pt-12 xl:pr-8 md:pr-8 lg:pr-8 sm:pb-12 p-4  ">

                    <p class ="text-4xl p-1 lg:text-5xl text-pink-700 inline-block">Welcome</p> <p class="mb-2 p-1 text-4xl lg:text-5xl text-zinc-800 inline-block  ">to Razpi </p>
                    <p class="mb-6 mt-3 px-0 text-2lg  lg:text-1xl mx-auto text-gray-600" style="font-family:helvetica;font-size:18px;">From industries large and small, to the kitchen table tinkerer, to the classroom coder, RaspberryPi makes computing accessible and affordable for everybody.</p>
                    <a href="{% url 'shop' %}" class=" inline-block bg-blue-800  mt-1 hover:bg-blue-900 text-gray-200 font-bold py-3 px-6 rounded-full" > Buy Raspberry Pi</a>

                    </div>
                </div>
                <div class="px-auto mx-auto mb-0  xl:w-1/2 lg:w-1/2 md:w-full sm:w-full" >
                    <img class="img-respsonive h-auto mx-auto ml-0 mb-0 xl:h-full lg:h-full md:h-full " style="postion:relative; bottom:0;"
                    src="https://assets.raspberrypi.com/static/8ab48f75acff29d90ad176703ca2454e/7ddbe/hero.png" > 
                </div>  
            </div>
        </header> 

        <section class="products bg-gray-800">
            <div class=" max-w-6xl mx-auto px-6 xl:px-0  " >
                <div class=" products flex items-center flex-wrap ">
                    {% for product in products %}
                    
                    {% include 'product/partials/product_list_item.html' %}
                    {% endfor %}

                </div>
            </div>
        </section>

       
       

{% endblock content %}